#insertBookWrapper {
  padding: 1em; }
  #insertBookWrapper form#insertBook {
    display: flex;
    flex-direction: column; }
  #insertBookWrapper .insertBookWrapper--foundedList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: flex-start; }
    #insertBookWrapper .insertBookWrapper--foundedList .container {
      height: 100%;
      position: relative; }
      #insertBookWrapper .insertBookWrapper--foundedList .container.selected, #insertBookWrapper .insertBookWrapper--foundedList .container:hover {
        transform: scale(1.1);
        cursor: pointer; }
      #insertBookWrapper .insertBookWrapper--foundedList .container.selected {
        background: #E0E0E0 !important; }
    #insertBookWrapper .insertBookWrapper--foundedList > LI {
      flex-basis: 260px;
      margin: 1em; }
      #insertBookWrapper .insertBookWrapper--foundedList > LI IMG {
        height: 160px; }
      #insertBookWrapper .insertBookWrapper--foundedList > LI .info {
        margin: 1em;
        padding-bottom: 1em; }
      #insertBookWrapper .insertBookWrapper--foundedList > LI .title,
      #insertBookWrapper .insertBookWrapper--foundedList > LI .publisher {
        font-size: 1em;
        text-align: left;
        font-weight: normal; }
      #insertBookWrapper .insertBookWrapper--foundedList > LI:last-child {
        margin-right: auto; }
