$cyan500: #00BCD4;
$grey300: #E0E0E0;

#insertBookWrapper {

    padding: 1em;

    form#insertBook {
        display: flex;
        flex-direction: column;
    }

    .insertBookWrapper--foundedList {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        justify-content: flex-start;

        .container {
            height: 100%;
            position: relative;
            
            &.selected,
            &:hover {
                transform: scale(1.10);
                cursor: pointer;
            }

            &.selected {
                background: $grey300!important;
            }
        }

        > LI {
            flex-basis: 260px;
            margin: 1em;
            
            IMG {
                height: 160px;
            }
            .info {
                margin: 1em;
                padding-bottom: 1em;
            }
        

            .title,
            .publisher {
                font-size: 1em;
                text-align: left;
                font-weight: normal;
            }

            &:last-child {
                margin-right: auto;
            }
        }
    }
}
