$cyan500: #00BCD4;

.home-description {

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .contents {
        display: flex;
    }
    
    .content {
        flex: 1;
        margin: 12px;
        max-width: 200px;
    }
}