.userbar {
  height: 82px;
  border-bottom: 2px solid #9E9E9E;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.userbar__logo {
  height: 100%; }

.userbar__search {
  margin-inline-start: 52px; }
  .userbar__search input {
    font-size: 22px !important; }

.userbar__action {
  display: flex;
  align-items: center; }
  .userbar__action h2 {
    margin: 16px;
    font-size: 22px;
    color: #9E9E9E;
    transition: .5s color; }
    .userbar__action h2:hover {
      color: #00BCD4; }
